
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7FBEBC">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>MauryChat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>var socket=io();</script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/push.min.js"></script>
    <script>
    $(document).ready(function(){
    $("form").submit(function(){
      var mensaje=$("input#m").val();
      socket.emit("chat message",mensaje);
      $("input#m").val("");
      $('#messages').append('<li>'+mensaje+"</li>");
      return false;
    });
    socket.on("chat message", function(msg){
      Push.create("Maury Chat", {
        body: msg,
        timeout: 4000,
        onClick: function(){
                   window.focus();
                   this.close();
                 }
      });
      $('#messages').append('<li>'+msg+"</li>");
    });
    });
    </script>
    <style>
     body{
       margin: 0;
       padding: 0;
     }
     ul#messages{
       list-style-type: none;
       padding: 0;
       margin: 0;
     }
     ul#messages li{
       color: #424242;
       margin-bottom: 5px;
       font-size: 120%;
       font-family: 'Roboto', sans-serif;
     }
     ul#messages li:nth-child(odd) {
       background: #EEEEEE;
     }
     div#text{
       display: flex;
       justify-content: center;
       display: inline;
       width: 100%;
       bottom: 0;
       position: absolute;
       position: fixed;
       padding-top: 8px;
       padding-bottom: 8px;
       background-color: rgba(2,123,123,0.8);
       -webkit-box-shadow: 0px -2px 13px 0px rgba(138,138,138,1);
       -moz-box-shadow: 0px -2px 13px 0px rgba(138,138,138,1);
       box-shadow: 0px -2px 13px 0px rgba(138,138,138,1);
     }
     div#text input{
       width: 80%;
       position: relative;
       left: 1%;
       margin-left: 5px;
       padding-top: 5px;
       padding-bottom: 8px;
       border-radius: 3px;
       border: none;
     }
     div#text button{
       position: absolute;
       width: 14%;
       right: 2%;
       border: 2px solid #4CB0B0;
       background-color: #7FBEBC;
       border-radius: 3px;
       color: #DFDFDF;
       padding-top: 5px;
       padding-bottom: 5px;
     }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <div id="text">
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
   </div>
  </body>
</html>
